* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: "Archivo", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: flex;
  height: auto;
  width: fit-content;
  text-decoration: none;
  outline: none;
}

img {
  object-fit: cover;
}

input,
button {
  border: none;
  outline: none;
}
